<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.saymon.muslimsbooks">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MuslimsBooks">
        <activity android:name=".suras"></activity>
        <activity android:name=".PDFreader" />
        <activity android:name=".paras" />
        <activity android:name=".nobider_jiboni" />
        <activity android:name=".namaz" />
        <activity android:name=".bukhari" />
        <activity android:name=".al_quran" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>